/* In testing */

.gold-accent.comment-visits-box {
  color: dodgerblue !important;
  border: 1px solid dodgerblue !important;
  background: white !important;
}

.comment-visits-box .title {
  background: white !important;
  color: dodgerblue !important;
}

.linkinfo {
    padding-bottom: 20px;
}

div.content {
    margin-top: 60px;
}

a.link-button.choice {
    margin-left: 100px;
    background-color: transparent;
    color: #ffffff;
}

a.link-button.choice:hover {
    color: #BFBFBF;
}

#suggest-title button {
    color: #ffffff;
    background-color: #1e90ff;
    border: 1px solid white;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

#suggest-title button:hover {
    border: 1px solid #1e90ff;
    color: #1e90ff;
    background: white;
}

div.roundfield-content textarea {
    border-radius: 4px;
    border: 1px solid #1e90ff;
}

#url {
    border-radius: 4px;
    border: 1px solid #1e90ff;
}

#sr-autocomplete {
    border-radius: 4px;
    border: 1px solid #1e90ff;
}

li.more a{
    color: white !important;
}

a.helplink[href="/message/compose?to=%2Fr%2Fcssforcsharp"] {
    padding: 10px;
    border-radius: 4px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 280px;
}

div#moderation_tools.sidecontentbox.collapsible div{
    text-align: center;
}

#gilded-icon:hover{
        -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
}

/* Flair */

.flair{
    color: white;
    z-index: 99999;
    min-width: 14px;
    max-width: 14px;
    height: 14px;
    line-height: 14px;
    border-radius: 14px;
    border: none;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    font-size: 11px !important;
    position: relative;
    text-indent: 14px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    border: 1px white solid;
      background: black;
}

.flair-blue {
    background: #65a4ed;
}

.flair-red {
  background: #dd7680;
}

.flair-yellow {
  background: #FFFF00;
  color: black;
}

.flair-black {
  background: black;
  color: white;
}

.flair-green {
  background: #4fc761;
}

.flair-pink {
  background: #ff7cff;
}

.flair:hover {
  max-width: 1400px;
  padding-right: 10px;
}

.flairselector {
 background: white !important;   
 color: #1e90ff !important;
}

.flairselector a {
 color: #1e90ff !important;
}

/* Link Flair */

.linkflairlabel {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    background: grey;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    border: 1px solid gray;
        -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.linkflairlabel:hover {
    border: 1px solid white !important;
    background: #1e90ff !important;
    color: white !important;
    text-transform: uppercase;
    font-size: 14px;
}

.linkflair-help .linkflairlabel{
    background-color: #ff0000;
}

.linkflair-News .linkflairlabel{
    background-color: #65a4ed;
}

.linkflair-Blog .linkflairlabel{
    background-color: #4fc761;
}

.linkflair-Tutorial .linkflairlabel{
    background-color: yellow;
}

.linkflair-Discussion .linkflairlabel{
    background-color: rebeccapurple;
}

.linkflair-Meta .linkflairlabel{
    background-color: black;
}

.linkflair-Tool .linkflairlabel{
    background-color: sienna;
}

/* Submission */

#link-desc {
    background-color: red !important;
    color: white !important;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid white !important;
    padding: 20px;
    text-align: justify;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#link-desc:hover {
    background-color: white !important;
    color: red !important;
    border: 1px solid red !important;
}

#text-desc {
    background-color: red !important;
    color: white !important;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid white !important;
    padding: 20px;
    text-align: justify;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#text-desc:hover {
    background-color: white !important;
    color: red !important;
    border: 1px solid red !important;
}

div.roundfield {
    border: 1px solid #1e90ff;
    background-color: #F5F5F5;
    color: #1e90ff;
    text-transform: capitalize;
    border-radius: 5px 5px 4px 4px;
}

/* --------------- */

.panestack-title {
  border-bottom: 1px solid #1e90ff !important;
  text-transform: capitalize;
}

.link .usertext-body .md{
    border: 1px solid #1e90ff !important;
    border-radius: 4px;
}

.login-form-side{
    border: 1px solid #1e90ff !important;
    border-radius: 4px;
}

.login-form-side input[type=text], .login-form-side input[type=password]{
    border: 1px solid #1e90ff !important;
    background: white !important;
        border-radius: 4px;
    
}

.sidecontentbox .title h1 {
    color: white;
    font-size: 20px;
}

.sidecontentbox .title {
    text-align: middle;
}

#header-img.default-header{
  text-indent: -9999px;
  background-image: url(%%sprite-reddit%%);
  background-position: 0px -313px;
  background-repeat: no-repeat;
  height: 40px;
  width: 120px;
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 3px;
}

span.hover.pagename.redditname a {
    color: white;
    margin-left: 10px;
    margin-right: 5px;
}

span.hover.pagename.redditname {
    color: white;
}

.pagename{
        color: white;
position: relative;
top: 13px;
}

div.nub {
    display: none;
}

.subscribers .word {
    display: none;
}

.subscribers .number::after {
    content: " developers";
}

.users-online .word {
    display: none;
}

.users-online .number::after {
    content: " devs not managing memory";
}

.morelink {
    border: 1px solid white;
    background: #1e90ff;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.morelink:hover {
    border: 1px solid #1e90ff;
    background: white;
}

.morelink a {
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: 300;
    font-size: 20px;
}

.morelink a:hover {
    color: #1e90ff;
}

li.more a {
    color: #ffffff !important;
}

div.title {
    background-color: #1e90ff;
    border-color: #ffffff;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-radius: 4px 4px 0 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

ul.content {
    color: white;
    background-color: #1e90ff;
    border-width: 0;
    border-color: #ffffff;
    border-radius: 0 0 4px 4px;
    padding-bottom: 40px;
}

ul.content li a {
    color: white;
}

ul.content li a:hover {
    text-decoration: underline;
}

ul.content li {
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 10px 0 0 0;
}

a.helplink {
    color: #ffffff;
    bottom: -190px;
    right: 10px;
    position: relative;
    background-color: #1e90ff;
}

div.account-activity-box p {
    bottom: 30px;
    right: 100px;
    position: relative;
}

div.account-activity-box p a {
    color: #ffffff;
    background-color: #1e90ff;
}

div.md hr {
    background-color: #1e90ff;
}

div.bottom {
    color: #000000;
    background-color: #ffffff;
}

#header-bottom-left {
    height: 105px;
    padding-top: 0;
    background-image: url(%%Header-Image%%);
    background-repeat: no-repeat;
    background-color: #1e90ff;
    -webkit-box-shadow: inset 0 48px 30px -56px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 48px 30px -56px rgba(0,0,0,0.75);
    box-shadow: inset 0 48px 30px -56px rgba(0,0,0,0.75);
}

div.arrow {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.arrow.down:hover:before {
position: absolute;
display: block;
z-index: 1000;
width: 210px;
padding: 5px;
border: 1px solid #1e90ff;
background: white;
content: "This is NOT a disagree button. Please use lightly.";
text-align: center;
color: #1e90ff;
margin-left: 25px;
margin-top: 5px;
border-radius: 4px;
font-weight: 100;
animation-name: down-box;
animation-duration: 0.5s;
}

@keyframes down-box {
    0%   {
        opacity: 0;
        margin-top: 10px;
        }
    100% {
        opacity: 1;
        margin-top: 5px;
        }
}

/* Search */
div#searchexpando.infobar {
    background-color: #1e90ff;
    border: 1px solid white;
}

div#searchexpando.infobar a {
    color: white;
    font-size: 12px;
}

div#searchexpando.infobar label {
    color: white;
    font-size: 12px;
}

#search {
    border: 0px;
    background-color: rgba(255,0,255,0);
}

#search input[type="text"] {
    border: 2px solid #1e90ff;
    border-radius: 4px;
}

div#moresearchinfo{
    color: white;
    border: 1px solid white !important;
    margin-top: 20px;
}

.btn{
     background-color: #1e90ff !important;
     color: white !important;
     padding: 10px;
     border: 1px solid white !important;
     border-radius: 4px;
     -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover{
     background-color: white !important;
     color: #1e90ff !important;
     border: 1px solid #1e90ff !important;
}

/* Hide arrows for people not logged in */

body:not(.loggedin) .arrow {
    visibility: hidden ;
}

ul.tabmenu {
    height: 40px;
    position: absolute;
    left: 0px;
    top: 84px;
    right: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    padding-left: 108px;
    width: 100%
}

.tabmenu a.choice {
    background-color: transparent;
    color: #f0f0f0;
    font-size: 15px;
    position: relative;
    top: 12px;
    left: -100px;
    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tabmenu a.choice:hover {
    background-color: transparent;
    color: #BFBFBF;
}

.tabmenu li.selected a {
    color: darkorange !important;
    border-width: 0 !important;
    border-style: none !important;
    text-transform: uppercase;
    background-color: white !important;
    padding: 12px;
}


ul.flat-vert.icon-menu.hover a {
    color: white;
    background-color: #1e90ff;
    border: solid white 0px;
    position: relative;
}

.listing-page .thing {
    margin: 0 320px 25px 30px;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.25);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.25);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #C7C7C7;
    padding: 10px;

}

.listing-page .thing:hover {
    border: 1px gray solid;
    -webkit-box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.25);
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,0.25);
}

div.thing {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.listing-page div.md p strong {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 16px;
}

.link, .comment {
    background-color: #fff;
}


div.sr-list {
    background: #1e90ff;
    border-color: white;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

div.dropdown.srdrop {
    background-color: #1e90ff;
    border-color: white;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

.sr-bar a {
    color: white;
}

.dropdown.srdrop .selected {
    color: white;
}

.drop-choices {
    background-color: #1e90ff;
    border-color: white;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.4);
}

.drop-choices a {
    color: white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 12px;
}

.drop-choices a:hover {
    color: #1e90ff;
    background-color: white;
}

div.linkinfo {
    background-color: #1e90ff;
    color: #ffffff;
    height: 80px;
    border-radius: 4px;
}

#shortlink-text {
    width: 98%;
    float: right;
}

div.shortlink {
    text-decoration: none;
    text-transform: uppercase;
}

a.default-header {
    position: relative;
    top: 10px;
    left: 30px;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3); 
    transform: scale(1.3);
}

.collapse-button{
    position: relative;
    top: -4px;
    left: 10px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background-color: white !important;
    border: 1px solid #1e90ff !important;
    color: #1e90ff !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    padding: 1px;
}

.collapse-button:hover{
    background-color: #1e90ff !important;
    border: 1px solid white  !important;
    color: white !important;
}

#viewImagesButton {
    background-color: transparent;
    color: #f0f0f0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 15px;
    position: relative;
    top: 12px;
    left: -100px;
}

.fancy-toggle-button .active{
    background: green !important;
    color: #ffffff;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px;
        margin: 3px;
    border-radius: 4px;
}

.fancy-toggle-button .active:hover{
    background: white !important;
    color: green;
    border: 1px solid green;
}

/* [RES] Reddit Enhancement Suite Compatability */

#viewImagesButton {
    background-color: transparent;
    color: #f0f0f0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 15px;
    position: relative;
    top: 12px;
    left: -100px;
}

#viewImagesButton:hover {
    background-color: transparent;
    color: #BFBFBF;
}

#sr-header-area {
    background-color: #1e90ff !important;
    color: white !important;
    border-color: white !important;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

#srList{
    -webkit-box-shadow: 3px 6px 15px 1px rgba(0,0,0,0.3);
    box-shadow: 3px 6px 15px 1px rgba(0,0,0,0.3);
}

#srList tr{
    color: #1e90ff !important;
    border-color: black;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
}

#srList td a{
    color: #1e90ff !important;
}

.commentarea .RES-keyNav-activeElement {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-left: 3px solid #1e90ff;
}

.commentarea .RES-keyNav-activeElement p {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 0 0 10px;
}

/* RES Buttons */

#RESShortcutsSort {
    background-color: #1e90ff !important;
    color: #ffffff !important;
}

#RESShortcutsLeft {
    background-color: #1e90ff !important;
    color: #ffffff !important;
}

div.res-icon {
    background-color: #1e90ff !important;
    color: #ffffff !important;
}

#RESShortcutsRight {
    background-color: #1e90ff !important;
    color: #ffffff !important;
}

#RESShortcutsEditContainer {
    background-color: #1e90ff !important;
    color: #ffffff !important;
}

.RESshortcutside{
    background: green !important;
    color: #ffffff !important;
    border: 1px solid white !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 4px !important;
}

.RESshortcutside.remove{
    background: red !important;
    color: #ffffff;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 4px !important; 
}

.RESshortcutside.remove:hover{
    background: white !important;
    color: red !important;
    border: 1px solid red !important;
}

.RESshortcutside:hover{
    background: white !important;
    color: green !important;
    border: 1px solid green !important;
}

.RESDashboardToggle{
    background: green !important;
    color: #ffffff !important;
    border: 1px solid white !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 4px !important;
}

.RESDashboardToggle.remove{
    background: red !important;
    color: #ffffff !important;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 4px !important;
}

.RESDashboardToggle.remove:hover{
    background: white !important;
    color: red !important;
    border: 1px solid red !important;
}

.RESDashboardToggle:hover{
    background: white !important;
    color: green !important;
    border: 1px solid green !important;
}

.RESSubscriptionButton{
    background: green !important;
    color: #ffffff !important;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 4px !important;
    
}

.RESSubscriptionButton:hover{
    background: white !important;
    color: green !important;
    border: 1px solid green !important;
}

.RESSubscriptionButton .unsubscribe{
    background: red !important;
    color: #ffffff;
    border: 1px solid white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 8px !important;
    margin: 3px !important;
    border-radius: 4px !important;
}

.RESSubscriptionButton .unsubscribe:hover{
    background: white !important;
    color: red !important;
    border: 1px solid red !important;
}

#baconBit {     
    background-image: url(%%Konami-Code-Bacon%%) !important;
 }

.RESImage {
    animation-name: FadeIn;
    animation-duration: 0.5s;
}

div.res-navTop {
    position: absoulte !important;
    top: 84px !important;
    height: 30px !important;
    background: white !important;
}

div.userbarHide {
    color: #1e90ff !important;
    background-color: white !important;
    border-radius: 0px !important;
}

div.userbarShow {
    color: #1e90ff !important;
    background-color: white !important;
    border-radius: 0px !important;
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}